
h1 {
    text-align: center;
}

.tapete {
    width: 100%;
    max-width: 760px;
    margin: 0px auto;
}

.nosaukums {
    width: 60%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}

.kastes {
    width: 39%;
    display: inline-block;
}

.izmers {
    text-align: center;
}